configuration {
  font:   "Mononoki Nerd Font 11";
  width: 100%;
  show-icons: true;
  icon-theme: "pop";
  hide-scrollbar: true;

  modi: "drun,run,window,calc";
  terminal: "alacritty";
  sidebar-mode: true;

  display-drun: "";
  display-run: "󰆍";
  display-window: "";

drun-display-format: "{name} [<span foreground='#B0B0B0' weight='light' size='small'><i>({generic})</i></span>]";

  location: 3;
  disable-history: false;

  matching: "fuzzy";
  sort: true;
  case-sensitive: false;
  cycle: true;

  kb-remove-to-eol: "";
  kb-accept-entry: "Return,KP_Enter";
  kb-row-up: "Up,Control+k";
  kb-row-down: "Down,Control+j";
}
@theme "themes/raycast_modern.rasi"


